<html>
<title>INSTAGRAM</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<body>
	<h1>THE
	 LIST OF POSTS</h1>
	 <a class="btn btn-outline-info"={%url 'logout'%}>signout</a>
lists

{% for i in posts %}
<br>

<h1>{{i.author}}</h1><br>
<img class="img-fluid img-thumbnail" src="{{ i.image.url }}" style="width:300px;height:500px;">
<a href="{% url 'post-detail' i.id %}"><h3>{{i.caption}}</h3></a><br>

{{i.date_posted}}<br>

{% endfor %}
</body>
</html>